/*======================= Estilos Gerais =======================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.disabled {
    display: none;
}

/*======================= Estilos Redes Sociais =======================*/
#social-list i {
    color: #4C4C4C;
    font-size: 20px;
    transition: 0.3s;
}

#social-list i:hover {
    color: #696969;
    font-size: 21px;
    transition: 0.3s;
}

/*======================= Estilos Header =======================*/
#header-home {
    width: 100%;
    height: auto;
    background-color: #4C4C4C;
}

#close-modal {
    float: right;
    right: 0px;
    top: 0px;
    margin-top: -15px;
    margin-right: -15px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

#texts-header {
    font-family: 'Montserrat';
    color: #fff;
}

#texts-header h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 41.8px;
}

#texts-header p {
    font-size: 22px;
    font-weight: 600;
    line-height: 28.6px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#button-header {
    text-align: center;
    background-color: #af2622;
    border-radius: 50px;
    padding: 20px 0;
    cursor: pointer;
}

#button-header a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: white;
}

#section-motion-header {
    padding-left: 50px;
}

#motion-header {
    border-radius: 10px;
}

#footer-header {
    font-family: 'Montserrat';
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
}

/*======================= Estilos Resumo Evento =======================*/
#header-explication {
    width: 100%;
    text-align: center;
    font-family: 'Lato';
}

#header-explication h2 {
    font-family: 'Lato', 'sans-serif';
    font-weight: bold;
    font-size: 40px;
    color: #444b56;
}

.paragraph-explication-event {
    margin-bottom: 40px;
    padding: 0px 10px;
}

.paragraph-explication-event i {
    font-size: 28px;
    color: #31C455;
}

.paragraph-explication-event span {
    font-family: 'Lato';
    font-size: 24px;
    color: #666;
    padding-left: 10px;
}

#button-explication {
    text-align: center;
    background-color: #af2622;
    border-radius: 2px;
    margin-bottom: 30px;
    padding: 20px 0;
    cursor: pointer;
    border-bottom: 3px solid #92201c;
    transition: 0.2s;
}

#button-explication a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 28.8px;
    color: white;
}

#button-explication:hover {
    background-color: #bd2b26;
    border-bottom: 1px solid #92201c;
    transition: 0.2s;
}

/*======================= Estilos Footer da Página =======================*/
#footer-home {
    width: 100%;
    height: 90px;
    background: #F6F6F6;
}

#text-footer-home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#text-footer-home p {
    font-family: 'Lato';
    font-size: 18px;
    color: #7c7c7c;
}

/*======================= Estilos Modal =======================*/
#modal-form {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.39);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-modal-form {
    width: 502px;
    max-width: 97%;
    height: auto;
    background-color: white;
    border: 5px solid rgba(160, 160, 160, 0.945);
}

#infos-modal {
    width: 90%;
    margin: 20px auto;
}

.header-modal {
    margin-top: 10px;
}

#infos-modal .title-header-modal {
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 600;
    color: #acc4cd;
}

#infos-modal .info-header-modal {
    font-family: 'Lato';
    font-size: 16px;
    color: #444;
    float: right;
    margin-top: 5px;
}

.form-control {
    margin-top: 15px;
    height: 50px;
    border: 1px solid rgb(202, 202, 202);
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 300;
}

.btn-modal-form {
    margin: 10px auto;
    width: 100%;
    background-color: #8FC12A;
    font-family: 'Lato';
    font-size: 17px;
    font-weight: 600;
    color: white;
    padding: 10px 0;
}

.btn-modal-form:hover {
    background-color: #8FC12A;
    color: white;
}

#footer-modal {
    text-align: center;
    font-size: 14px;
    color: rgb(158, 158, 158);
    margin-top: -10px;
    margin-bottom: 20px;
}

/*======================= Estilos Notebook =======================*/
@media screen and (min-width: 767px) and (max-width: 1061px) {
    /* Estilos Header */
    #section-texts-header {
        width: 100%;
        padding-top: 10px;
        text-align: center;
    }
    
    #section-motion-header {
        width: 100%;
        text-align: center;
    }
}

/*======================= Estilos Tablet / Celular =======================*/
@media screen and (max-width: 767px) {
    /* Estilos Logo Nav */
    #logo-nav {
        width: 90vw;
        padding-top: 10px;
    }
    
    #logo-nav img {
        margin: 0 auto;
    }
    
    /* Estilos Redes Sociais */
    #social-list a {
        margin: 5px 2px 0px 2px;
    }
    
    #social-list i {
        font-size: 18px;
    }
    
    /* Estilos Header */
    #texts-header h1 {
        font-size: 35px;
        padding-top: 10px;
    }
    
    #texts-header p {
        font-size: 22px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
    #section-texts-header {
        width: 100vw;
        padding-top: 10px;
        text-align: center;
    }
    
    #section-motion-header {
        width: 100%;
        text-align: center;
        padding-left: 0px;
    }
    
    #motion-header {
        width: 100%;
    }
    
    #footer-header h3 {
        font-size: 22px;
    }
}